/*
#primero {
  font-weight: 700;
}

#segundo {
  font-weight: 700;
}
*/
/* multiples selectores con fontW 700 */
#primero, #segundo {
  font-weight: 700;
}

.card {
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
}

.card p {
  font-size: 10px !important;
}
/* Descanso 15 mins */