.navbar {
  background-color: rgb(67, 47, 196);
  color: #FFF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}

.navbar .navbar__list-item a {
  color: #FFF;
  margin-right: 10px;
}

.navbar .navbar__list {
  display: none;
}

.container {
  background-color: blue;
  width: 100vw;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background-color: red;
}

/* media queries */
@media only screen and (min-width: 450px) {
  .navbar .navbar__list {
    display: flex;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media print {
  .navbar {
    display: none;
  }
  section p {
    font-size: 16px;
  }
}
