.navbar {
  background-color: rgb(67, 47, 196);
  color: #FFF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}

.navbar .navbar__list-item a {
  color: #FFF;
  margin-right: 10px;
}

.navbar .navbar__list {
  display: flex;
}

.container {
  background-color: blue;
  width: 100vw;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  background-color: red;
}
